/* Todo Card Style */
.card {
    border: 1px solid blue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}

/* API Card Style */
.user-card {
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
}